In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Reference the file where the CSV is located
salary03_18 = "NBASalary03-17.csv"

# Import the data into a Pandas DataFrame
salary03_18_df = pd.read_csv(salary03_18)
salary03_18_df.head()

                     team      salary            player position     season
0  Minnesota Timberwolves  25200000.0     Kevin Garnett       PF  2002-2003
1  Portland Trail Blazers  13500000.0  Damon Stoudamire       PG  2002-2003
2     Seattle SuperSonics  13080000.0       Gary Payton       PG  2002-2003
3     Seattle SuperSonics  12375000.0         Ray Allen       SG  2002-2003
4         New York Knicks  12375000.0  Latrell Sprewell       SG  2002-2003

In [3]:
salary03_18 = salary03_18_df[["season","player","salary","position","team"]]

In [4]:
salary03_18.head()

      season            player      salary position                    team
0  2002-2003     Kevin Garnett  25200000.0       PF  Minnesota Timberwolves
1  2002-2003  Damon Stoudamire  13500000.0       PG  Portland Trail Blazers
2  2002-2003       Gary Payton  13080000.0       PG     Seattle SuperSonics
3  2002-2003         Ray Allen  12375000.0       SG     Seattle SuperSonics
4  2002-2003  Latrell Sprewell  12375000.0       SG         New York Knicks

In [5]:
salary03_18["salary"] = salary03_18["salary"].astype(int)

In [6]:
salary03_18.head()

      season            player    salary position                    team
0  2002-2003     Kevin Garnett  25200000       PF  Minnesota Timberwolves
1  2002-2003  Damon Stoudamire  13500000       PG  Portland Trail Blazers
2  2002-2003       Gary Payton  13080000       PG     Seattle SuperSonics
3  2002-2003         Ray Allen  12375000       SG     Seattle SuperSonics
4  2002-2003  Latrell Sprewell  12375000       SG         New York Knicks

In [9]:
salary_03_18_final = salary03_18[["season","player","salary"]]

In [11]:
salary_03_18_final.head()

      season            player    salary
0  2002-2003     Kevin Garnett  25200000
1  2002-2003  Damon Stoudamire  13500000
2  2002-2003       Gary Payton  13080000
3  2002-2003         Ray Allen  12375000
4  2002-2003  Latrell Sprewell  12375000

In [12]:
salary_03_18_final.to_csv("salary_03_18_final.csv",index=False)