In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Reference the file where the CSV is located---03-18 data
salary_03_18 = "salary_draft/salary_03_18_final.csv"

# Import the data into a Pandas DataFrame
df1 = pd.read_csv(salary_03_18)

In [3]:
# Reference the file where the CSV is located---18-19 data
salary_18_19 = "salary_draft/salary_18_19_final.csv"

# Import the data into a Pandas DataFrame
df2 = pd.read_csv(salary_18_19)

In [4]:
frames = [df1, df2]

In [5]:
salary_03_19 = pd.concat(frames)

In [6]:
salary_03_19.head()

      season            player    salary
0  2002-2003     Kevin Garnett  25200000
1  2002-2003  Damon Stoudamire  13500000
2  2002-2003       Gary Payton  13080000
3  2002-2003         Ray Allen  12375000
4  2002-2003  Latrell Sprewell  12375000

In [7]:
salary_03_19_final = salary_03_19[["season","player","salary"]]

In [8]:
salary_03_19_final.to_csv("salary_03_19_final.csv",index=False)