In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# we are missing 2018-2019
# we need URL of page to be scraped
url = r'https://hoopshype.com/salaries/players/'

In [3]:
# Retrieve page with the requests module
tables = pd.read_html(url) # Returns list of all tables on page
salary_18_19_rough = tables[0] # Select table of interest

In [4]:
salary_18_19_rough.head()

,Unnamed: 0,Player,2018/19,2019/20,2020/21,2021/22,2022/23,2023/24
0,1.0,Stephen Curry,"$37,457,154","$40,231,758","$43,006,362","$45,780,966",$0,$0
1,2.0,Russell Westbrook,"$35,665,000","$38,150,000","$40,600,000",NaN,NaN,$0
2,3.0,Chris Paul,"$35,654,150","$38,506,482","$41,358,814","$44,211,146",$0,$0
3,3.0,LeBron James,"$35,654,150","$37,436,858","$39,219,566","$41,002,274",$0,$0
4,5.0,Blake Griffin,"$31,873,932","$34,234,964","$36,595,996","$38,957,028",$0,$0

In [5]:
salary_18_19 = salary_18_19_rough[["Player","2018/19"]]

In [6]:
salary_18_19.head()

              Player      2018/19
0      Stephen Curry  $37,457,154
1  Russell Westbrook  $35,665,000
2         Chris Paul  $35,654,150
3       LeBron James  $35,654,150
4      Blake Griffin  $31,873,932

In [7]:
salary_18_19['2018/19'] = salary_18_19['2018/19'].map(lambda x: str(x)[1:])

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
salary_18_19["season"] = "2018-2019"

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
salary_18_19["2018/19"] = salary_18_19["2018/19"].str.replace(',', '')

/Users/yanxu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
salary_18_19.rename(columns={"Player":"player",
                             "2018/19":"salary"}, inplace=True)

/Users/yanxu/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [11]:
salary_18_19_final = salary_18_19[["season","player","salary"]]

In [12]:
salary_18_19_final.head()

      season             player    salary
0  2018-2019      Stephen Curry  37457154
1  2018-2019  Russell Westbrook  35665000
2  2018-2019         Chris Paul  35654150
3  2018-2019       LeBron James  35654150
4  2018-2019      Blake Griffin  31873932

In [14]:
salary_18_19_final.to_csv("salary_18_19_final.csv",index=False)